Workflows Evolution API/5. Assistente interno.json
{
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Receber Mensagem Telegram').item.json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "48feeb05-d1a0-45a7-9e6b-04faef4b5175"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8cf1a12e-bd0a-4ac6-a33c-6748438c9c8a",
                    "leftValue": "={{ $('Receber Mensagem Telegram').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -640,
        460
      ],
      "id": "39acf6fc-e79f-413f-95a4-1b209302ee85",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -140,
        360
      ],
      "id": "78a23d93-13da-447c-9f82-7d50a7fcfa59",
      "name": "Transcrever áudio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45efc554-3f74-4922-a2cf-f64d2ea084c0",
              "name": "mensagem",
              "value": "={{ $('Receber Mensagem Telegram').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -360,
        560
      ],
      "id": "fbde10e3-0e16-44c5-ab18-b96fd8a29503",
      "name": "Set mensagem texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e95db55-1b2e-4762-a547-9481029291e9",
              "name": "mensagem",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        360
      ],
      "id": "9737e750-8218-4d41-a69b-5ad469d2f9e4",
      "name": "Set mensagem áudio"
    },
    {
      "parameters": {
        "content": "## Assistente interno\n",
        "height": 560,
        "width": 2460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1320,
        300
      ],
      "id": "b260e256-9ea3-48e9-abd8-17c750eb57c0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-ep2&utm_medium=evo-5)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n\n### Siga nosso GitHub\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1320,
        -160
      ],
      "id": "e63f3098-db62-418a-84cb-80455ef9bb91",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![IMAGE ALT TEXT HERE](https://i1.ytimg.com/vi_webp/cvTWGNJGAu4/maxresdefault.webp)](https://www.youtube.com/watch?v=cvTWGNJGAu4)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        -160
      ],
      "id": "6b7373bf-7f65-4236-91b1-efd50b823fb5",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "![Evolution API](https://mintlify.s3.us-west-1.amazonaws.com/evolution/logo/dark.svg)",
        "height": 100,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1100,
        140
      ],
      "id": "aa71ee72-b82d-4f24-bdce-86fe9078c38d",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Receber Mensagem Telegram').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -360,
        360
      ],
      "id": "d9322b11-0f6e-45ce-ba07-9b8a0294d9bb",
      "name": "Download áudio",
      "webhookId": "9b28d599-c57f-4ecf-94a1-6334f7dabf6d"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        460
      ],
      "id": "9e8c7af3-fa00-4ffa-bb22-cc127636ece7",
      "name": "Receber Mensagem Telegram",
      "webhookId": "f2b29356-d5d3-4f5d-9ef1-273001c0a820"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a3fa735-aced-46e9-b9de-1734f9f2b537",
              "name": "id_conta",
              "value": "={{ $json.account_id }}",
              "type": "string"
            },
            {
              "id": "2c4f57f2-8175-43e9-8d59-2796b2ebf488",
              "name": "telegram_chat_id",
              "value": "={{ $('Receber Mensagem Telegram').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -860,
        460
      ],
      "id": "ea1c41d9-f361-4df7-aeb3-57b0caed7c53",
      "name": "Info"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=\nVocê atua em nome da {{ $('Config da Clinica').item.json.nome }}.\nEndereço: {{ $('Config da Clinica').item.json.config.endereco }}\nTelefone: {{ $('Config da Clinica').item.json.config.telefone_contato }}\n\n## PROFISSIONAIS E ESPECIALIDADES\n{{ $('Config da Clinica').item.json.system_prompt.split('## PROFISSIONAIS E ESPECIALIDADES\\n')[1] }}\n\n-----------------------\n\n## SEU OBJETIVO\n\nAtuar como assistente de operações interno (apenas respondendo a membros da própria clínica), executando ações e fornecendo informações solicitadas pela equipe sobre o Google Calendar da clínica. \n\n### FERRAMENTAS DISPONÍVEIS:\n1. Buscar evento\n   - Use para procurar compromissos específicos por ID.\n\n2. Buscar todos eventos\n   - Lista agenda do dia de um médico.\n   - Ideal para checar horários livres ou mostrar resumo do dia.\n\n3. Criar evento\n   - Use para fazer bloqueios ou adicionar pacientes manuais.\n\n4. Atualizar evento\n   - Pode alterar hora, título ou descrição de um compromisso.\n\n5. Deletar evento\n   - Use para cancelar ou desmarcar da agenda.\n\n6. Enviar mensagem para paciente\n   - Permite o envio de texto para contatos externos no WhatsApp, utilizando a Evolution API.  \n\n-----------------------\n\n## INSTRUÇÕES\n\n- Você é um assistente pragmático e direto. Use linguagem natural e objetiva. Evite jargões excessivos e mensagens muito longas.\n- Você irá interagir diretamente com profissionais e administradores. Eles têm permissão total.\n- Nunca informe sobre assuntos de fora da clínica ou responda perguntas não relacionadas à gestão, calendário e avisos aos pacientes.\n- Responda apenas com base nas ferramentas integradas. Não invente ou sugira informações.\n- Se for solicitado enviar mensagem pelo WhatsApp, utilize sempre o DDD 55 antes do número.\n- SEMPRE USE A FERRAMENTA \"Refletir\", antes e depois de utilizar alguma ferramenta complexa, para garantir que não teve nenhum erro.\n\nLembre-se: sua função principal é facilitar a vida dos colaboradores da clínica através da integração do Google Calendar e mensageria no WhatsApp.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        360,
        460
      ],
      "id": "16585506-33d8-421a-9ff5-d711243b8ec4",
      "name": "Assistente do escritório interno"
    },
    {
      "parameters": {
        "chatId": "={{ $('Info').item.json.telegram_chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        460
      ],
      "id": "7981d2c2-9b0d-4d3e-b81a-65d4cf46488c",
      "name": "Responder Telegram",
      "webhookId": "21855174-4f7f-49f5-b8f4-a284d6ee4ddf",
      "credentials": {
        "telegramApi": {
          "id": "KyMfoWEQ5kdYYDks",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-03-25",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        700
      ],
      "id": "c761bf7e-5c62-433f-b0ba-97828c27ef09",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Config da Clinica').item.json.tenant_id + '_assistente_interno' }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -20,
        700
      ],
      "id": "5f0aade9-a8da-434c-b9d7-f17df94357e2",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"551112345678\"', 'string') }}",
            "message": "={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        120,
        700
      ],
      "id": "2adc3b84-7932-4462-bbb7-898be0d2f1a0",
      "name": "Salvar memoria"
    },
    {
      "parameters": {
        "sseEndpoint": "={{ $('Config da Clinica').item.json.url_n8n }}/webhook/a2b7a3ee-767c-4689-a8fa-765080bea169/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        240,
        700
      ],
      "id": "8db67eaf-1332-4d91-888e-5944a6d5902f",
      "name": "MCP Google Calendar"
    },
    {
      "parameters": {
        "task": "YXdwUHJaRVoxWDdudFNGNg",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {
          "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', ``, 'string') }}",
          "notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}",
          "status": "needsAction"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        520,
        700
      ],
      "id": "4d992bca-979b-4ed7-8751-2846ac8ae57c",
      "name": "Criar tarefa"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        660,
        700
      ],
      "id": "2bae3cc1-036d-4438-aa90-c7f0e12ad9b1",
      "name": "Ler emails",
      "webhookId": "dde17a90-60a1-42ad-9a09-06cf2fbb3105"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        800,
        700
      ],
      "id": "eead4bab-043a-4a3e-9a96-72a587a17773",
      "name": "Refletir"
    },
    {
      "parameters": {
        "toolDescription": "Use essa ferramenta para enviar as informações de agendamento no WhatsApp.\n\nO telefone deve ser formatado com apenas números, incluindo o código do país.\n\nExemplo: \"551112345678\"",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_evolution }}/message/sendText/{{ $('Info').item.json.instancia }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "evolutionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{telefone}\",\n  \"text\": \"{mensagem}\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        380,
        700
      ],
      "id": "d38a8222-5285-4f81-8ad5-6d24c8cb5114",
      "name": "Enviar reagendamento"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -160
      ],
      "id": "e5a92b65-9f67-45d6-bb29-393a6399f2d3",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8000/api/webhook/config_by_telegram/{{ $('Info').item.json.telegram_chat_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-webhook-secret",
              "value": "cp_wh_secret_2026"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        360,
        0
      ],
      "id": "node-config-telegram",
      "name": "Config da Clinica"
    }
  ],
  "connections": {
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Download áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set mensagem texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever áudio": {
      "main": [
        [
          {
            "node": "Set mensagem áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set mensagem texto": {
      "main": [
        [
          {
            "node": "Assistente do escritório interno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set mensagem áudio": {
      "main": [
        [
          {
            "node": "Assistente do escritório interno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio": {
      "main": [
        [
          {
            "node": "Transcrever áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receber Mensagem Telegram": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Config da Clinica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assistente do escritório interno": {
      "main": [
        [
          {
            "node": "Responder Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Assistente do escritório interno",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Assistente do escritório interno",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Salvar memoria": {
      "ai_tool": [
        [
          {
            "node": "Assistente do escritório interno",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Assistente do escritório interno",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar tarefa": {
      "ai_tool": [
        [
          {
            "node": "Assistente do escritório interno",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ler emails": {
      "ai_tool": [
        [
          {
            "node": "Assistente do escritório interno",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Assistente do escritório interno",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar reagendamento": {
      "ai_tool": [
        [
          {
            "node": "Assistente do escritório interno",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Config da Clinica": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respondendo telegram async",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}